fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
google-genai
qdrant-client
python-dotenv
requests
python-multipart
python-jose
passlib[bcrypt]
python-redis
celery[redis]
flower
pytest
pytest-asyncio
httpx
